
# TJStrikeGundam2 Configuration File
# -----------------------

# -- Basic Audio Signal Processing --

  SOURCEFORMAT = HAUDIO
  SOURCEKIND = WAVEFORM
  SOURCERATE = 625
  TARGETKIND = MFCC_0_D_A_Z
  TARGETRATE=100000.0
  WINDOWSIZE=250000.0
  ENORMALISE=F
  ZMEANSOURCE=F
  USEHAMMING = T
  PREEMCOEF = 0.97
  USEPOWER = T
  NUMCHANS = 26
  CEPLIFTER = 22
  NUMCEPS = 12
  SILFLOOR = 50.0
  

# -- configure silence detection ---
HPARM:  CALWINDOW	    = 40
HPARM:  SPEECHTHRESH	= 9.0 
HPARM:  SILDISCARD	    = 10.0 
HPARM:  SILENERGY	    = 0.0    
HPARM:  SPCSEQCOUNT	    = 10  
HPARM:  SPCGLCHCOUNT	= 0 
HPARM:  SILGLCHCOUNT	= 2 
HPARM:  SILSEQCOUNT	    = 100  

HPARM:  CMNTCONST       = 0.995
HPARM:  CMNRESETONSTOP  = F
HPARM:  CMNMINFRAMES    = 12
HPARM:   CMNDEFAULT     = "../../Resources/UK_SI_ZMFCC/cepmean"
# -- Define HMM Resources --

#HMMSET:  HMMLIST    	= "../../Resources/UK_SI_ZMFCC/hmmlistbg"
#HMMSET:  MMF0       	= "../../Resources/UK_SI_ZMFCC/WI4"
#HMMSET:  MMF1       	= "../../Resources/UK_SI_ZMFCC/BGHMM2"
#HPARM:   CMNDEFAULT 	= "../../Resources/UK_SI_ZMFCC/cepmean"
#shanghai:  HMMLIST="./UK_SI_ZMFCC/hmmlistbg";
#shanghai:  MMF0       	= "./UK_SI_ZMFCC/WI4"
#shanghai:  MMF1       	= "./UK_SI_ZMFCC/BGHMM2"
# -- Configure Recogniser --


# -- Set visibility and positions of ATK controls --

AMONITOR: DISPXORIGIN   = 20
AMONITOR: DISPYORIGIN   = 20
AMONITOR: DISPWIDTH     = 400

Zealot: DISPSHOW           = T
Zealot: DISPXORIGIN        = 440 
Zealot: DISPYORIGIN        = 20 
Zealot: DISPHEIGHT         = 40 
Zealot: DISPWIDTH          = 160

Marine:	DISPSHOW        = F
#ACODE:  MAXFEATS        = 13
#ACODE:	NUMSTREAMS      = 1