
# TJStrikeGundam1 Configuration File
# -----------------------

# -- Basic Audio Signal Processing --

  SOURCEFORMAT 		= HAUDIO	
  SOURCERATE 		= 625 
  SOURCEKIND        = WAVEFORM

  TARGETKIND 		= MFCC_0_D_A_Z
  TARGETRATE		= 100000.0
  WINDOWSIZE		= 250000.0
  ENORMALISE		= F
  ZMEANSOURCE		= F
  USEHAMMING 		= T
  PREEMCOEF 		= 0.97
  USEPOWER 		    = T
  NUMCHANS 		    = 26
  CEPLIFTER 		= 22
  NUMCEPS 		    = 12
  SILFLOOR 		    = 50.0
  
# -- configure echo cancellation ---

HAUDIO: TRACE           = 0
HAUDIO: ECHOCANCEL      = F
HAUDIO: ECHOFILTERSIZE  = 512
HAUDIO: ECHOMAXDELAY    = 1000
HAUDIO: ECHOFILTERAWIN  = 4

# -- configure silence detection ---

# -- Define HMM Resources --

HMMSET:  HMMLIST    	= "../../Resources/UK_SI_ZMFCC/hmmlistbg"
HMMSET:  MMF0       	= "../../Resources/UK_SI_ZMFCC/WI4"
HMMSET:  MMF1       	= "../../Resources/UK_SI_ZMFCC/BGHMM2"
HPARM:   CMNDEFAULT 	= "../../Resources/UK_SI_ZMFCC/cepmean"

HPARM:   CMNTCONST	    = 0.995
HPARM:   CMNRESETONSTOP	= F
HPARM:   CMNMINFRAMES	= 12

#ADICT:	 DICTFILE 	    = "TIO_dialler.dct"
#AGRAM:   GRAMFILE 	    = "TIO_dialler.net"

# -- Configure Recogniser --


# -- Set visibility and positions of ATK controls --

AMONITOR: DISPXORIGIN   = 620
AMONITOR: DISPYORIGIN   = 20
AMONITOR: DISPWIDTH     = 300

AIO: DISPSHOW           = T
AIO: DISPXORIGIN        = 40
AIO: DISPYORIGIN        = 550
AIO: DISPHEIGHT         = 80
AIO: DISPWIDTH          = 884
AIO: DISPSTEP           = 5
AIO: TIMEOUTPERIOD      = 5000

# ---- Debugging switches ------

AIO:    TRACE = 01
HMMSET: TRACE = 0
#ADICT:  TRACE = 0
#AGRAM:  TRACE = 0
GGRAM:  TRACE = 0

ARMAN:  TRACE = 0
HPARM:  TRACE = 0
HNET:   TRACE = 0
HREC:   TRACE = 0
HMODEL: TRACE = 0
HNET:   TRACE = 0
SYN:    TRACE = 0
